
@{
    ViewBag.Title = "课程信息";
}

<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
 <!--<![endif]-->
<head>
    <meta charset="utf-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>@ViewBag.Title</title>

    <!-- Mobile viewport optimized: h5bp.com/viewport -->
    <meta name="viewport" content="width=device-width" />

    <!-- Style Sheet-->

    <link rel="stylesheet" href="~/Content/css/style.css" />


    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
        #new {
            border: 1px solid #ce3d3d;
            cursor: pointer;
            background: #ff5b5b;
            height: 30px;
            min-width: 110px;
            color: #fff;
            font: normal 12px Arial;
            float: right;
            margin-top: -50px;
        }
    </style>
</head>
<body>

    <div class="container clearfix">

        <!--SIDEBAR-->
        <aside id="sidebars">

            <!--logo-->
            <div class="commentAvatarDiv"><img class="commentAvatarImage" src="@ViewBag.head"></div>

            <!--main-menu-->
            <nav class="main-nav">
                <ul>
                    <li><a href="../Index/Index">首页</a></li>
                    <li class="active"><a href="Class">课程信息</a></li>
                    <li><a href="../Calendar/Calendar">课程安排</a></li>
                    @*<li><a href="ppt.html">上课课件</a></li>*@
                    @*<li><a href="blog.html">课外学习资料</a></li>*@
                    <li>
                        <a href="#">元素分子图</a>
                        <ul>
                            <li><a href="../MolecularGraph/Chemicaltable">化学元素周期表</a></li>
                            <li><a href="../MolecularGraph/Molecules">分子结构图</a></li>
                        </ul>
                    </li>
                    <li><a href="../Discuss/Discuss">讨论区</a></li>
                    <li><a href="../Info/Info">个人信息</a></li>
                </ul>
            </nav>

            <!--social-navigatoin-->
            <ul class="social-nav clearfix">
                <li><a class="fb" href="#">&nbsp;</a></li>
                <li><a class="tw" href="#">&nbsp;</a></li>
                <li><a class="rss" href="#">&nbsp;</a></li>
                <li><a class="bh" href="#">&nbsp;</a></li>
                <li><a class="db" href="#">&nbsp;</a></li>
            </ul>

        </aside>



        <!--CONTENT-->
        <section id="content">
            <!--header-->
            <header>

                <h2>课程信息 <span> - 课程具体信息</span></h2>
                <input id="new" type="button" onclick="location.href='ChangeClass'" name="submit" value="选择课程" />
            </header>
            <!--BLOG-->
            <section id="blog" class="clearfix">

                <!--blog content-->
                <div class="blog-content column">
                    @foreach (var item in ViewBag.userHome)
                    {
                    <div class="comment-form">

                        <h3 style="margin-top: 10px;">课程序号</h3>
                        <h4>@item.ClassID</h4>

                        <h3 style="margin-top: -70px;margin-left: 400px;">课程名称</h3>
                        <h4 style="margin-left: 400px;">@item.ClassName</h4>

                        <h3 style="margin-top: 10px;">教师</h3>
                        <h4>@item.Teacher</h4>

                        <h3 style="margin-top: -70px;margin-left: 400px;">教师联系方式</h3>
                        <h4 style="margin-left: 400px;">@item.Phone</h4>

                        <h3 style="margin-top: 10px;">必修/选修</h3>
                        <h4>@item.RS</h4>

                        <h3 style="margin-top: -70px;margin-left: 400px;">考试/考查</h3>
                        <h4 style="margin-left: 400px;">@item.TE</h4>

                        <h3 style="margin-top: 10px;">课程教材</h3>
                        <h4>@item.Textbook</h4>

                        <h3 style="margin-top: -70px;margin-left: 400px;">上课安排</h3>
                        <h4 style="margin-left: 400px;">@item.Time</h4>

                        <h3 style="margin-top: 10px;">课程简述</h3>
                        <h4>@item.Description</h4>

                    </div>
                    }
                </div>

                <!--blog sidebar
        <aside class="blog-sidebar column">

                <div class="widget">
                        <h4>SUBSCRIBE</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur id ipsum et nisl adipiscing luctus eu eu dui.</p>
                        <form id="subscribe" method="post" />
                                <input type="text" placeholder="Your Email" value="" />
                                <input type="submit" value="Subscribe" />
                        </form>
                </div>

                <div class="widget">
                        <h4>CATEGORIES</h4>
                        <ul>
                            <li><a href="#">Branding</a></li>
                            <li><a href="#">Web Design</a></li>
                            <li><a href="#">Photography</a></li>
                            <li><a href="#">Identity</a></li>
                            <li><a href="#">Logos</a></li>
                            <li><a href="#">Themes</a></li>
                            <li><a href="#">Travel</a></li>
                            <li><a href="#">Photoshop</a></li>
                        </ul>
                </div>

                <div class="widget">
                        <h4>TAGS</h4>
                        <div class="tags">
                            <a href="#">Photography</a><a href="#">Themeforest</a><a href="#">Sales</a><a href="#">Wordpress</a><a href="#">jQuery</a><a href="#">HTML</a><a href="#">Video</a><a href="#">Themes</a>
                        </div>
                </div>

                <div class="widget">
                        <h4>ADVERTISMENT</h4>
                        <div class="ads">
                                <a href="#"><img src="images/ad.png" alt="" /></a>
                                <a href="#"><img src="images/ad.png" alt="" /></a>
                                <a href="#"><img src="images/ad.png" alt="" /></a>
                                <a href="#"><img src="images/ad.png" alt="" /></a>
                        </div>
                </div>

        </aside>-->

            </section>
        </section>

    </div>


    <!-- jQuery -->
    <script src="~/scripts/jquery-1.7.1.min.js"></script>
    <script src="~/scripts/jquery.cycle.all.js"></script>
    <script src="~/scripts/tabs-accordian.js"></script>

    <!-- Custom JS -->
    <script src="~/scripts/custom.js"></script>
    <div style="display:none">
    <script src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript' charset='gb2312'></script></div>
</body>
</html>